extends layout.pug

block content

  nav.nav
      a(href="/")
        span &larr;
        |  Back
      
  .box
    //- Render error
    h1 Sorry - an error occured!
    h2= `Status: ${error.status}`
    p= message
    //- Button that links to home page
    a(href="/") 
      button.btn-link Return Home

    //- error stack to help developers
    pre #{error.stack}