extends layout.pug

block content

  nav.nav
      a(href="/")
        span &larr;
        |  Back
      
  .box    
    h1 Sorry - an error occured!
    h2= `Status: ${error.status}`
    h2= message
    button.btn-link 
      a(href="/") Return Home
      