extends layout.pug

block content

  nav.nav
      a(href="/")
        span &larr;
        |  Back
      
  .box   
    //- render error message and button to enable user to go to home page 
    h1 Sorry - an error occured!
    h2= `Status: ${error.status}`
    h2= message
    a(href="/") 
      button.btn-link Return Home
      